version: '3.9'

services:
  ntp:
    build: .
    image: simonrupf/chronyd:latest
    container_name: ntp
    restart: always
    read_only: true
    tmpfs:
      - /etc/chrony:rw,mode=1750
      - /run/chrony:rw,mode=1750
      - /var/lib/chrony:rw,mode=1750
    ports:
      - 123:123/udp
#    cap_add:
#      - SYS_TIME
#     devices:
#       - /dev/ptp0:/dev/ptp0
    environment:
      - NTP_SERVERS=time.cloudflare.com
      - LOG_LEVEL=0
#      - TZ=America/Vancouver
#      - NOCLIENTLOG=true
#      - ENABLE_NTS=true
#      - ENABLE_SYSCLK=true
